:root {
    --gridsquare: 5rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

.playspace {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, var(--gridsquare));
    grid-template-rows: repeat(3, var(--gridsquare));
    border: solid;
    margin-top: 4rem;
    opacity: 0;
    animation: opacity-reverse 2s ease-in forwards;
    animation-delay: 8s;
}

.goal {
    grid-area: 2 / 5 / 3 / 6;
}

.goal img {
    /* display: inline-block; */
    display: flex;
    max-width: 30%;
    height: auto;
}

a.button {
    grid-column-start: 3;
    grid-row-start: 2;
    margin: 0;
    padding: 0;

    border: 0.2rem solid var(--aqua);
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: background-color 0.6s ease-out, color 0.6s ease-out, letter-spacing 0.6s ease-out, padding 0.6s ease-out;
}
.button:hover {
    background: var(--aqua);
    color: #fff;
    letter-spacing: 0.7rem;
    padding: 1.1rem 1.2rem 1.1rem 1.8rem;
    cursor: pointer;
    transition: background-color 0.6s ease-in, color 0.6s ease-in, letter-spacing 0.6s ease-in, padding 0.6s ease-in;
}

.gone .button {
    opacity: 0;
    transition: opacity 1s;
}
.gone .player {
    animation: down-row 3s linear forwards;
    animation-delay: 1.5s;
}

/* Confetti */
/* body {
    margin: 0;
    overflow: hidden;
}
.wrapper {
    position: relative;
    min-height: 100vh;
}
[class|="confetti"] {
    position: absolute;
}
.red {
    background-color: #d13447;
}
.yellow {
    background-color: #ffbf00;
}
.blue {
    background-color: #263672;
} */

.loader {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    animation: opacity 2s ease-out forwards;
    animation-delay: 6s;
}

.loader img {
    width: auto;
}

.loader p {
    font-size: 2rem;
}

.turtle {
    position: absolute;
    /* opacity: 0; */
    /* margin-top: 2rem; */
    animation: go-around 4s linear forwards;
    animation-iteration-count: 2;
    animation-delay: 0.6s;
}
.apple {
    position: absolute;
    margin-top: -1.2rem;
    /* margin-bottom: 2rem; */
    margin-right: 2rem;
    animation: go-around 4s linear forwards;
    animation-iteration-count: 2;

}

.player {
    /* animation: turn-left-up 3s linear forwards infinite; */
    /* animation-delay: 4s; */
    /* animation: turn-right-down 3s linear forwards infinite; */
    /* animation: down-row 3s linear forwards; */
}

:root {
    --0Y2: 0rem;
    --6Y2: 0.75rem;
    --12Y2: 1.5rem;
    --18Y2: 2.25rem;
    --25Y2: 3rem;
    --31Y2: 3.75rem;
    --37Y2: 4.5rem;
    --43Y2: 5.25rem;
    --50Y2: 6rem;

    --0X2: 0rem;
    --6X2: 3.06rem;
    --12X2: 5.66rem;
    --18X2: 7rem;
    --25X2: 8rem;
    --31X2: 9rem;
    --37X2: 10.34rem;
    --43X2: 12.94rem;
    --50X2: 16rem;

    --56X2: -3.06rem;
    --62X2: -5.66rem;
    --68X2: -7.39rem;
    --75X2: -8rem;
    --81X2: -7.39rem;
    --87X2: -5.66rem;
    --93X2: -3.06rem;
    --100X2: 0rem;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity-reverse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes turn-right-down {
    0% {
        transform: translatex(var(--0X)) translatey(var(--0Y)) rotatez(0deg);
    }
    33% {
        transform: translatex(var(--6X)) translatey(var(--6Y)) rotatez(22.5deg);
    }
    66% {
        transform: translatex(var(--12X)) translatey(var(--12Y)) rotatez(45deg);
    }
    100% {
        transform: translatex(var(--18X)) translatey(var(--18Y)) rotatez(67.5deg);
    }
}

@keyframes turn-left-up {
    0% {
        transform: translatex(var(--0X)) translatey(var(--25Y)) rotatez(67.5deg);
    }
    33% {
        transform: translatex(var(--6X)) translatey(var(--31Y)) rotatez(45deg);
    }
    66% {
        transform: translatex(var(--12X)) translatey(var(--37Y)) rotatez(22.5deg);
    }
    100% {
        transform: translatex(var(--18X)) translatey(var(--43Y)) rotatez(0deg);
    }
}

@keyframes down-row {
    0% {
        transform: translatex(var(--0X2)) translatey(var(--0Y2)) rotatez(0deg);
    }
    12.5% {
        transform: translatex(var(--6X2)) translatey(var(--6Y2)) rotatez(15deg);
    }
    25% {
        transform: translatex(var(--12X2)) translatey(var(--12Y2)) rotatez(30deg);
    }
    37.5% {
        transform: translatex(var(--18X2)) translatey(var(--18Y2)) rotatez(45deg);
    }
    50% {
        transform: translatex(var(--25X2)) translatey(var(--25Y2)) rotatez(60deg);
    }
    62.5% {
        transform: translatex(var(--31X2)) translatey(var(--31Y2)) rotatez(45deg);
    }
    75% {
        transform: translatex(var(--37X2)) translatey(var(--37Y2)) rotatez(30deg);
    }
    87.5% {
        transform: translatex(var(--43X2)) translatey(var(--43Y2)) rotatez(15deg);
    }
    100% {
        transform: translatex(var(--50X2)) translatey(var(--50Y2)) rotatez(0deg);
    }
}

@media (min-width: 700px) {
    /* :root {
        --gridsquare: 6.2rem;
    } */
    .playspace {
        margin-top: 6rem;
    }
    h1 {
        font-size: 5rem;
    }
}

@media (min-width: 900px) {
    /* :root {
        --gridsquare: 8rem;
    } */
}

@media (min-width: 1100px) {
    /* :root {
        --gridsquare: 9rem;
    } */
    .playspace {
        /* margin-top: 8rem; */
    }
    h1 {
        font-size: 7rem;
    }
}