@property --rotate {
    syntax: "<angle>";
    inherits: false;
    initial-value: 132deg;
}
  
* {
    box-sizing: border-box;
}

:root {
    --red: #eb0808;
    --green: #3c9612;
    --aqua: #35eee8;

    --card-height: 270px;
    --card-width: 270px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #efffd1; 
}

.svg {
    width: 20%;
    float: right;
    margin-right: 2%;
}

a:link {
    color: var(--aqua);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
a:visited {
    color: var(--aqua);
}
a:hover {
    color: var(--green);
    font-weight: bolder;
    cursor: pointer;
}
a:active {
    color: var(--red);
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.hero {
    height: 100vh;
}

.hero img {
    height: 100%;
    object-fit: cover;
}

.hero .head {
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: nowrap;

    /* align-content: center; */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}

nav {
    z-index: 1;
    justify-content: center;
    width: 100%;

    line-height: 1.5rem;
    margin: 0;
}

.menu-icon {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 50px;
    position: relative;
    z-index: 2;
}
  
.menu-icon line {
    stroke: var(--aqua);
    stroke-width: 6px;
    stroke-linecap: round;
    transform-origin: center;
    transition: transform 400ms ease-out;
}
  
.menu-icon:hover line {
    stroke: #A3CB38;
}
  
.menu-icon line:first-child {
    transform: translateY(16%);
}
  
.menu-icon line:last-child {
    transform: translateY(-16%);
}
  
.close line {
    stroke: #A3CB38;
}
  
.close .menu-icon:hover line {
    stroke: var(--green);
}
  
.close line:first-child {
    transform: rotate(135deg);
}
  
.close line:last-child {
    transform: rotate(-135deg);
} 
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 2rem 2rem 2rem 5rem; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    color: var(--aqua);
    background-color: #00b894;
    z-index: 1;
    transform: translateX(-100vw);
    transition: transform 400ms ease-in-out;
}
  
nav li {
    font-size: 1.6rem;
    cursor: pointer;
    padding: 0.8rem;
    border-bottom: 1px solid #ddd;
}
  
nav li:last-child {
    border-bottom: none;
}
  
.close ul {
    transform: translateX(0);
}

h1 {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: center;
    flex: 100%;

    margin: 0 0 1rem 1rem;
    font-size: 3.5rem;
    color: var(--red);
    font-family: 'Lobster', cursive;
    font-weight: lighter;
}

main {
    padding: 0 1rem;
    width: 100%;
    max-width: 70rem;
    align-self: center;

    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    font-family: 'Poppins', sans-serif;
    color: #06c200;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    word-spacing: 1rem;
    margin: 2rem 0;
    padding: 0 0 0 1rem;
} 

a.button{
    font-weight: bolder;
}
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    max-width: 15rem;
    margin: 2rem 2rem;
    border: 0.2rem solid var(--aqua);
    font-size: 0.9rem;
    padding: 1.1rem 4rem;
    text-transform: uppercase;
    transition: background-color 0.6s ease-out, color 0.6s ease-out, letter-spacing 0.6s ease-out, padding 0.6s ease-out;
}
.button:hover {
    background: var(--aqua);
    color: #222;
    letter-spacing: 0.7rem;
    padding: 1.1rem 1.6rem;
    cursor: pointer;
    transition: background-color 0.6s ease-in, color 0.6s ease-in, letter-spacing 0.6s ease-in, padding 0.6s ease-in;
}
.button span {
    margin: 0;
}

h3 {
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    color: var(--red);
    font-size: 1.8rem;
    margin-bottom: 1.7rem;
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

figcaption {
    float: right;
    position: relative;
    font-style: italic;
    margin-top: -1.5rem;
    margin-right: 0.5rem;
    color: #fff;
}

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
    padding: 1rem;
    /* margin-bottom: 8rem; */
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    background: white;
    padding: 0.5rem;
    border-radius: 6px;
    color: rgba(88, 250, 96, 0);
    cursor: pointer;
}

.card img {
    width: 100%;
    max-height: 270px;
    /* height: auto; */
    transition: transform 300ms, filter 200ms;
    /* display: flex; */
}

.image-wrapper {
    overflow: hidden;
    margin: 1rem 0;
}

.overlay {
    color: whitesmoke;
    opacity: 0;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    transition: opacity 500ms;

    position: absolute;
    /* bottom: 10rem; */
    /* left: -0.5rem; */
    margin: 0;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.5rem;
}

.card:hover img {
    overflow: hidden;
    transform: scale(1.2);
    filter: blur(5px);
}

.card:hover .overlay {
   opacity: 100;
   cursor: pointer;
}

.card:hover {
    color: rgb(107, 250, 88);
    transition: color 1s;
}
.card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
}

.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 6px;
    background-image: linear-gradient(var(--rotate), #70ff5d, #3ce33c 43%, #06c200);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2s linear infinite;
}

article {
    margin: 0 1rem;
}

aside {
    margin: 0 1rem;
}
  
@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}

h4 {
    font-family: 'Poppins', sans-serif;
    color: var(--green);
    font-size: 2rem;
    margin: 0;
}

footer p {
    margin-left: 1rem;
    font-size: 0.8rem;
}

.profile main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
}

.profile main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile main > p {
    margin-top: -4rem;
    font-size: 30px;
    font-weight: bolder;
}

.profile h1 {
    margin-top: 0.5rem;
}

.game h1 {
    margin-top: 0.5rem;
}

.game main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: auto;
}

.loader p {
    font-size: 2rem;
}

:root {
    --0Y: -8rem;
    --6Y: -7.39rem;
    --12Y: -5.66rem;
    --18Y: -3.06rem;
    --25Y: 0rem;
    --31Y: 3.06rem;
    --37Y: 5.66rem;
    --43Y: 7.39rem;
    --50Y: 8rem;

    --0X: 0rem;
    --6X: 3.06rem;
    --12X: 5.66rem;
    --18X: 7.39rem;
    --25X: 8rem;
    --31X: 7.39rem;
    --37X: 5.66rem;
    --43X: 3.06rem;
    --50X: 0rem;
    --56X: -3.06rem;
    --62X: -5.66rem;
    --68X: -7.39rem;
    --75X: -8rem;
    --81X: -7.39rem;
    --87X: -5.66rem;
    --93X: -3.06rem;
    --100X: 0rem;
}

@keyframes go-around {
    0% {
        transform: translatex(var(--0X)) translatey(var(--0Y)) rotatez(0deg);
    }
    6.25% {
        transform: translatex(var(--6X)) translatey(var(--6Y)) rotatez(22.5deg);
    }
    12.5% {
        transform: translatex(var(--12X)) translatey(var(--12Y)) rotatez(45deg);
    }
    18.75% {
        transform: translatex(var(--18X)) translatey(var(--18Y)) rotatez(67.5deg);
    }
    25% {
        transform: translatex(var(--25X)) translatey(var(--25Y)) rotatez(90deg);
    }
    31.25% {
        transform: translatex(var(--31X)) translatey(var(--31Y)) rotatez(112.5deg);
    }
    37.5% {
        transform: translatex(var(--37X)) translatey(var(--37Y)) rotatez(135deg);
    }
    43.75% {
        transform: translatex(var(--43X)) translatey(var(--43Y)) rotatez(157.5deg);
    }
    50% {
        transform: translatex(var(--50X)) translatey(var(--50Y)) rotatez(180deg);
    }
    56.25% {
        transform: translatex(var(--56X)) translatey(var(--43Y)) rotatez(202.5deg);
    }
    62.5% {
        transform: translatex(var(--62X)) translatey(var(--37Y)) rotatez(225deg);
    }
    68.75% {
        transform: translatex(var(--68X)) translatey(var(--31Y)) rotatez(247.5deg);
    }
    75% {
        transform: translatex(var(--75X)) translatey(var(--25Y)) rotatez(270deg);
    }
    81.25% {
        transform: translatex(var(--81X)) translatey(var(--18Y)) rotatez(292.5deg);
    }
    87.5% {
        transform: translatex(var(--87X)) translatey(var(--12Y)) rotatez(315deg);
    }
    93.75% {
        transform: translatex(var(--93X)) translatey(var(--6Y)) rotatez(337.5deg);
    }
    100% {
        transform: translatex(var(--100X)) translatey(var(--0Y)) rotatez(360deg);
    }
}


.panel {
    display: flex;
    flex-direction: column;
}
  
.panel > .image-wrapper {
    order: -1;
    width: 100%;
}
  
@media (min-width: 600px) {
    .menu-icon {
        opacity: 0;
    }
    nav ul {
        margin: 1rem 1rem;
        list-style: inside;
        width: auto;
        background: none;
        padding: 0;
        transform: translateX(0vw);
    }
    nav li {
        font-size: 0.8rem;
        padding: 0rem;
        border: none;
    }

    .panel {
        flex-direction: row;
        gap: 2rem;
        margin: 1rem;
    }
  
    .panel > .text-content {
        flex: 1 1 40%;
    }
  
    .panel > .image-wrapper {
        flex: 1 1 60%;
        width: 100%;
        order: 0;
    }
  
    .panel h2 {
        margin-top: 0;
    }
  
    .panel .left {
        order: -1;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }  
    .card {
        flex: 0 1 40%;
    }

    .figure {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    h1 {
        align-self: flex-start;
        font-size: 4.1rem;
    }

    main {
        margin: 0 2rem;
    }

    .image-wrapper {
        margin: 0;
    }

}
  
@media (min-width: 850px) {
    h1 {
        font-size: 5.8rem;
    }

    nav ul {
        margin-left: 0.5rem;
    }
    nav li {
        padding: 0.3rem;
        font-size: 1.3rem;
    }

    .cards {
        flex: 1 1 25%;
        flex-wrap: nowrap;
    }

    main {
        max-width: 70rem;
        align-self: center;
    
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1100px) {
    h1 {
        font-size: 8rem;
    }
}